*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin-bottom: 2em;
}

main{
    margin: 0 auto;
    display: grid;
    place-content: center;
}

.calculator{
    background-color: #ddd;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 30.5ch;
    padding: 0.75ch;
}

.display{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: .1em;
    height: 1.5em;
    background-color: #fff;
    margin-bottom: 0.5em;
    text-align: right;
}

.display .running{
    border: solid 1px red;
} 

.display .live{
    border: solid 1px green;
}

.keyboard-frame{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    background-color: #ccc;
}

.keyboard-frame div{
    width: 7ch;
    height: 7ch;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}